{% block body %} 

	<h3>Informations</h3>

	<div class="formCeinture">	
		<div>
			{{ form_start(formView, {'attr': {'class': 'form-horizontal'}}) }}
			
			<div>
				{{ form_label(formView.vil_cp,"CodePostal")}}
				{{ form_errors(formView.vil_cp) }}
				{{ form_widget(formView.vil_cp, {'attr': {'class': 'form-control'}}) }}
			</div>	
			<div>	
				{{ form_label(formView.vil_libelle,"Nom")}}
				{{ form_widget(formView.vil_libelle, {'attr': {'class': 'form-control'}}) }}
			</div>
			<hr>
			
			<div class="row">	
				<div class="col text-center"> {{ form_widget(formView.Modifier, {'attr': {'class': 'btn btn-info'}}) }} </div>
				<div class="col text-center"> {{ form_widget(formView.Supprimer, {'attr': {'class': 'btn btn-info'}}) }} </div>
				<div class="col text-center"><a class="btn btn-info" href="{{ path ('Ville_index') }}" role="button">Annuler</a></div>
			</div>
			{{ form_end(formView) }}
		</div>
		
	</div>


{% endblock %}
