
{% extends "@Apprentis/layout.html.twig" %}

{% block title %} {{ parent() }} - Gestions des Apprentis {% endblock %}

{% block body %} 
		<h2>
			<div class="row">
				<div class="col">Liste des Apprentis</div>
				<select class="custom-select custom-select-sm">
				
				{% for unePromo in lesPromo %}
				  
				  <option value="{{unePromo.proPromotion}}">{{unePromo.proPromotion}}</option>
				 
				{% endfor %}
				</select>
				<div class="col text-right"><a class="btn btn-info" href="{{ path ('Apprentis_add') }}" role="button">Ajouter une Apprentis</a></div>
			</div>
		</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col" class="text-center col-md-2">Nom</th>
					<th scope="col" class="text-center col-md-2">Prenom</th>
					<th scope="col" class="text-center col-md-2">mail</th>
					<th scope="col" class="text-center col-md-1">Modif</th>
					<th scope="col" class="text-center col-md-1">Supp</th>
				</tr>
			</thead>
			<tbody>
				 {% for uneApp in maProm.insApprenti %}
					<tr>
						<td class="text-center">
							<a href="{{ path ('Apprentis_view',{'id':uneApp.appId})}}">
								{{ uneApp.appNom }}
							</a>
						</td>
						<td class="text-center">
							{{ uneApp.appPrenom }}
						</td>
						<td class="text-center">
							{{ uneApp.appMail }}
						</td>
						
						<td class="text-center">
							<a href="{{ path ('Apprentis_update',{'id':uneApp.appId})}}">
								modifier
							</a> 
						</td>
						<td class="text-center">
							<a href="{{ path ('Apprentis_delete',{'id':uneApp.appId})}}">
								Supprimer
							</a>
						</td>
					</tr>
					{% else %}
						<tr>
							<td colspan="4" class="text-center">
								Pas de Apprentis pour le moment
							</td>
						</tr>					
				{% endfor %} 
			</tbody>
		</table>
{% endblock %}		
		


   
  